<mat-card class='dark-text' id='qaCard'>
  <div [ngSwitch]="showAnswer">
    <app-question
      *ngSwitchCase="'question'"
      [question]="questionAnswer"
    ></app-question>
    <app-answer *ngSwitchCase="'answer'" [answer]="questionAnswer"></app-answer>
  </div>
  <mat-card-footer>
    <mat-card-actions>
      <button id='bottomButton' mat-raised-button (click)="toggle()">
        Show {{ showAnswer == "question" ? "answer" : "question" }}
      </button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
